<div class="layout-grid" data-controller="layout">
  <%= render Layout::HeaderComponent.new(title: title, show_menu_toggle: show_menu_toggle?) %>
  <%= render Layout::SidebarComponent.new(navigation_items: navigation_items, current_path: current_path) %>
  
  <main class="layout-main">
    <%= content %>
  </main>
  
  <%= render Layout::FooterComponent.new %>
</div>