<tr class="bg-gray-800/50 border-t-2 border-gray-600" data-generation-id="<%= music_generation_id %>">
  <td colspan="4" class="px-6 py-2 text-sm text-gray-500 text-center">
    Trackがありません
  </td>
</tr>