<tr class="bg-gray-800/50 border-t-2 border-gray-600" data-generation-id="<%= music_generation_id %>">
  <td class="px-6 py-4 text-sm text-gray-300 border-r border-gray-700">
    <%= music_generation_id %>
  </td>
  <td colspan="4" class="px-6 py-4 text-sm text-gray-500 text-center">
    Trackがありません
  </td>
</tr>