<div id="artwork-metadata-section-<%= content.id %>">
  <div class="bg-red-900 border border-red-600 rounded-lg p-4">
    <h4 class="text-red-300 font-semibold mb-2">エラーが発生しました</h4>
    <ul class="text-red-200 text-sm">
      <% errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>

  <div class="mt-4">
    <%= render 'artwork_metadata/new_form', content: content %>
  </div>
</div>