<div id="artwork-section-<%= content.id %>">
  <% if content.artwork.present? %>
    <!-- アートワークが存在する場合 -->
    <%= render ArtworkVariations::GridComponent.new(artwork: content.artwork) %>
  <% else %>
    <!-- アートワークが存在しない場合 -->
    <turbo-frame id="artwork-section-<%= content.id %>">
      <%= render ArtworkDragDrop::Component.new(content_record: content) %>
    </turbo-frame>
  <% end %>
</div>