---
http_interactions:
- request:
    method: post
    uri: https://api.kie.ai/api/v1/generate
    body:
      encoding: UTF-8
      string: '{"prompt":"Relaxing lo-fi hip hop beat with soft piano","model":"V3_5","wait_audio":false,"customMode":false,"instrumental":true,"callBackUrl":"https://lofi-bgm-not-exist-server.com/callback"}'
    headers:
      Authorization:
      - Bearer <KIE_AI_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"code":401,"msg":"You do not have access permissions"}'
  recorded_at: Tue, 09 Sep 2025 09:18:36 GMT
recorded_with: VCR 6.3.1
