---
http_interactions:
- request:
    method: post
    uri: https://api.kie.ai/api/v1/generate
    body:
      encoding: UTF-8
      string: '{"prompt":"Relaxing lo-fi hip hop beat with soft piano","model":"v3.5","wait_audio":false,"callBackUrl":"https://lofi-bgm-not-exist-server.com/callback"}'
    headers:
      Authorization:
      - Bearer <KIE_AI_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"code":422,"msg":"model error","data":null}'
  recorded_at: Sun, 07 Sep 2025 14:00:15 GMT
- request:
    method: post
    uri: https://api.kie.ai/api/v1/generate
    body:
      encoding: UTF-8
      string: '{"prompt":"Relaxing lo-fi hip hop beat with soft piano","model":"v3.5","wait_audio":false,"customMode":false,"callBackUrl":"https://lofi-bgm-not-exist-server.com/callback"}'
    headers:
      Authorization:
      - Bearer <KIE_AI_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"code":422,"msg":"instrumental cannot be null","data":null}'
  recorded_at: Sun, 07 Sep 2025 14:00:54 GMT
- request:
    method: post
    uri: https://api.kie.ai/api/v1/generate
    body:
      encoding: UTF-8
      string: '{"prompt":"Relaxing lo-fi hip hop beat with soft piano","model":"V3_5","wait_audio":false,"customMode":false,"instrumental":false,"callBackUrl":"https://lofi-bgm-not-exist-server.com/callback"}'
    headers:
      Authorization:
      - Bearer <KIE_AI_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"code":200,"msg":"success","data":{"taskId":"87fe2c4054ebbff558a017e5fabf73fc"}}'
  recorded_at: Sun, 07 Sep 2025 14:02:40 GMT
- request:
    method: post
    uri: https://api.kie.ai/api/v1/generate
    body:
      encoding: UTF-8
      string: '{"prompt":"Relaxing lo-fi hip hop beat with soft piano","model":"V4_5PLUS","wait_audio":false,"customMode":false,"instrumental":true,"callBackUrl":"https://lofi-bgm-not-exist-server.com/callback"}'
    headers:
      Authorization:
      - Bearer <KIE_AI_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"code":200,"msg":"success","data":{"taskId":"87fe2c4054ebbff558a017e5fabf73fd"}}'
  recorded_at: Mon, 08 Sep 2025 01:08:01 GMT
recorded_with: VCR 6.3.1
