---
http_interactions:
- request:
    method: post
    uri: https://api.kie.ai/api/v1/generate
    body:
      encoding: UTF-8
      string: '{"prompt":"Test beat for status check","model":"v3.5","wait_audio":false,"callBackUrl":"https://lofi-bgm-not-exist-server.com/callback"}'
    headers:
      Authorization:
      - Bearer <KIE_AI_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"code":422,"msg":"customMode cannot be null","data":null}'
  recorded_at: Sun, 07 Sep 2025 14:00:18 GMT
- request:
    method: post
    uri: https://api.kie.ai/api/v1/generate
    body:
      encoding: UTF-8
      string: '{"prompt":"Test beat for status check","model":"v3.5","wait_audio":false,"customMode":false,"callBackUrl":"https://lofi-bgm-not-exist-server.com/callback"}'
    headers:
      Authorization:
      - Bearer <KIE_AI_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"code":422,"msg":"model error","data":null}'
  recorded_at: Sun, 07 Sep 2025 14:00:57 GMT
- request:
    method: post
    uri: https://api.kie.ai/api/v1/generate
    body:
      encoding: UTF-8
      string: '{"prompt":"Test beat for status check","model":"V3_5","wait_audio":false,"customMode":false,"instrumental":false,"callBackUrl":"https://lofi-bgm-not-exist-server.com/callback"}'
    headers:
      Authorization:
      - Bearer <KIE_AI_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"code":200,"msg":"success","data":{"taskId":"888985c3fe5f0a48824bd9582723060f"}}'
  recorded_at: Sun, 07 Sep 2025 14:02:43 GMT
- request:
    method: post
    uri: https://api.kie.ai/api/v1/generate
    body:
      encoding: UTF-8
      string: '{"prompt":"Test beat for status check","model":"V4_5PLUS","wait_audio":false,"customMode":false,"instrumental":true,"callBackUrl":"https://lofi-bgm-not-exist-server.com/callback"}'
    headers:
      Authorization:
      - Bearer <KIE_AI_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"code":200,"msg":"success","data":{"taskId":"87fe2c4054ebbff558a017e5fabf73fe"}}'
  recorded_at: Mon, 08 Sep 2025 01:08:03 GMT
recorded_with: VCR 6.3.1
