---
http_interactions:
- request:
    method: get
    uri: https://api.kie.ai/api/v1/generate/record-info?taskId=888985c3fe5f0a48824bd9582723060f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <KIE_AI_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"code":200,"msg":"success","data":{"taskId":"888985c3fe5f0a48824bd9582723060f","parentMusicId":"","param":"{\"callBackUrl\":\"https://lofi-bgm-not-exist-server.com/callback\",\"customMode\":false,\"instrumental\":false,\"model\":\"V3_5\",\"prompt\":\"Test
        beat for status check\"}","response":null,"status":"PENDING","type":"chirp-v3-5","operationType":"generate","errorCode":null,"errorMessage":null,"createTime":1757253762000}}'
  recorded_at: Sun, 07 Sep 2025 14:02:43 GMT
recorded_with: VCR 6.3.1
