---
http_interactions:
- request:
    method: get
    uri: https://api.kie.ai/api/v1/generate/record-info?taskId=invalid-task-id-12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <KIE_AI_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"code":200,"msg":"success","data":null}'
  recorded_at: Sun, 07 Sep 2025 14:00:19 GMT
recorded_with: VCR 6.3.1
