<div class="status-filter mb-6" data-controller="status-filter" data-status-filter-selected-value="<%= selected_status %>">
  <div class="flex flex-wrap gap-2">
    <% filter_options.each do |option| %>
      <button 
        type="button"
        class="<%= button_classes(option[:status]) %>"
        data-status="<%= option[:status] %>"
        data-action="click->status-filter#filter"
        data-status-filter-target="filterButton"
      >
        <%= option[:text] %>
      </button>
    <% end %>
  </div>
</div>